@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
:root {
	--main-bg-color-1: #000;
	}

body {
	
	margin: 0;
	font-family: 'Poppins', sans-serif;
	
	color: #fff;
	
	background: var(--main-bg-color-1) url("../img/intro_bg.jpg") repeat ;
	
	background-position: top;
	
}




h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 5px;
}



.btn {
    min-width: 200px;
    height: 50px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    background-color: #DB2512;
    transition: background-color .2s ease;
    cursor: pointer;
    outline: 0;
    border: 0;
}

section.header-box
{width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 
	10;
}

/* Header start */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 
	10;
}

.header__wrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__block {
    width: 20%;
}

.header__logo {
    display: inline-block;
}

.header__logo img {
    height: 65px;
}

.nav {
    display: flex;
}

.nav__link {
    margin-right: 35px;

    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.nav__link:after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity .2s ease;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link.active:after {
    opacity: 1;
}

.header__lng {
    display: none;
    justify-content: flex-end;
}

.header__lng-link {
    margin-right: 8px;

    font-weight: 600;
    color: #B7B7B7;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s ease;
}

.header__lng-link:last-child {
    display: none;
    margin-right: 0;
}

.header__lng-link:hover {
    color: #fff;
}

.header__lng-link.active {
    color: #fff;
}

/* Header end */

/*Intro start*/
.intro {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.intro:after {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #000;
    opacity: .2;
    content: '';

}

.intro__content {
    height: 750px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}




.intro__title {
    max-width: 950px;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
    color: white;
    line-height: 1.5;
    text-transform: uppercase;
}






/* Меню */





#catalog-link {
    font-size: 32px;

text-align: center;
display: flow;
    font-weight: bold; /*  Устанавливаем  жирный  шрифт  */
    color: #0d11e4; /*  Устанавливаем  белый  цвет  текста  */
	text-shadow: 0 0 10px #800080; /*  Добавляем  тень  текста  */
    background-color: #f0f0f0; /*  Устанавливаем  серый  фон  */
    padding: 5px 10px; /*  Добавляем  отступ  */
    border: 1px solid #800080; /*  Добавляем  фиолетовую  обводку  */
    border-radius: 5px; /*  Скругляем  углы  */


}
/* Блок товаров */
.row {
    display: flex;
    flex-wrap: wrap; /*  Разрешаем  перенос  строк,  если  элементы  не  вмещаются  */
    justify-content: center; /*  Выравниваем  элементы  по  центру  */
}
section.product-box {

	margin: 150px 20px 30px 20px;
	border: 1px solid #ccc; /*  Серый  цвет  рамки  */
	padding: 10px;
	z-index: 1;
	
}
.product-parent {
    width: 20%; /*  Занимает  25%  ширины  родительского  элемента  */
    margin-bottom: 20px; /*  Отступ  снизу  между  карточками  */
    padding: 15px;
}
/*
кнопка*/
.product-pic button.js_buy {
    position: absolute;
    
    left: 0;
    
    width: 50%; /*  Устанавливаем  ширину  кнопки  */
    background: #007bff; /*  Устанавливаем  синий  цвет  фона  */
    border: none;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    color: white;
    display: none;
    cursor: pointer;
    z-index: 1;
}

.product-parent:hover button.js_buy {
    display: block;
    opacity: 0.8;
	color:aquamarine
}

.product button.js_buy {
    font-size: 18px; /*  Изменяем  размер  шрифта  */
    font-weight: bold;
}
/* конец кнопки*/
section.product-box h2 {
	padding: 30px;
}
section.product-box .product {
	min-height: 250px;
	margin-bottom: 30px;
	width: 200px;
	height: 300px;
}

section.product-box .product .product-pic {
	min-height: 270px;
	background-size: cover; 
	
	

}


section.product-box .product .product-name {
	
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 200px;
	height: 300px;
	
}

.product button {
	position: flex;
	top: 35%;
	left: 50%;
	width: 66%;
	margin-left: -33%;
	background: var(--main-color-1);
	border: none;
	text-transform: uppercase;
	padding: 10px 30px 10px 30px;
	color: white;
	display: none;
}

.product:hover button {
	display: block;
}

/* Футер */


/* Попап окно */
.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: default;
}

.popup {
	position: fixed;
	width: 600px;
	left: 50%;
	margin-left: -300px;
	height: 500px;
	top: 50%;
	margin-top: -250px;
	z-index: 1000;
	display: none;
	background: #fff;
	padding: 20px;
}

/* Форма оформления заказа */
.popup h3 {
	border-bottom: 1px solid var(--main-color-1);
	color: var(--main-color-1);
	padding-top: 5px;
	padding-bottom: 10px;
}

.popup .close-popup {
	position: absolute;
	font-size: 30px;
	top: 25px;
	right: 35px;
	color: var(--main-color-1);
	cursor: pointer;
}

.popup input[type=text] {
	display: block;
	width: 100%;
	margin-top: 20px;
	border: none;
	border-bottom: 1px solid #666;
	padding-bottom: 5px;
}

.popup textarea {
	margin-top: 20px;
	border: none;
	width: 100%;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	padding: 10px;
	min-height: 150px;
}

.popup button {
	display: block;
	background: var(--main-color-1);
	border: none;
	text-transform: uppercase;
	padding: 10px 30px 10px 30px;
	color: white;
	width: 300px;
	margin: 10px auto;
}

